.reco {
  flex: 1;
  margin-left: 10px;

  background-color: rgb(237, 237, 237);
  padding: 10px 20px;
  padding-bottom: 0;
}

.reco h2 {
  margin-bottom: 1rem;
}

.reco-viedos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
