.sidebar-row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.sidebar-icon {
  margin-right: 1rem;
  color: rgb(72, 71, 71);
  font-size: bold;
}

.sidebar-title {
  font-family: "Raleway", sans-serif;
  flex: 1;
  margin-left: 10px;
  font-size: 15px;
  font-size: 500;
  color: rgb(72, 71, 71);
}
.sidebar-row:hover {
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar-row .sidebar-icon:hover {
  color: rgb(134, 30, 30);
  cursor: pointer;
}

.selected {
  background-color: lightgrey;
  border-radius: 10px;
}
